---
id: 1
title: 'SkullSecurity'
date: '2008-08-22T09:19:23-05:00'
author: admin
layout: default
guid: 'http://www.skullsecurity.org/'

header: full
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  {% include post-blurb.html post=post %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
