{% if page.header == "full" %}
  <header class="site-header" role="banner">
    <div class="site-logo">
      <a href="/"><img class="site-logo-icon" src="/assets/skullsecurity.jpg" title="SkullSecurity" alt="SkullSecurity"></a>
    </div>

    <div class="site-name"><a href="/">SkullSecurity</a></div>
    <div class="site-description">Adventures In Security</div>

    {% include navigation.html %}
  </header>
{% else %}
  <header class="site-header site-header-small" role="banner" style="display: flex; align-items: center">
    <div class="site-logo">
      <a href="/"><img class="site-logo-icon" src="/assets/skullsecurity.jpg" title="SkullSecurity" alt="SkullSecurity" style="max-width: 100%"></a>
    </div>

    <div class="site-name" style="padding-left: 20px"><a href="/">SkullSecurity</a></div>

    {% include navigation.html %}
  </header>
{% endif %}
