{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->
<nav>
    <ul class="navigation">
      {% for entry in site.data.navigation %}
        <li class="navigation-entry {% if entry.url == current_page %}navigation-entry-current{% endif %}">
          <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
        </li>
      {% endfor %}
    </ul>
</nav>
