{% assign author = site.authors | where: 'short_name', page.author %}

{% if author and author[0] %}
  <aside id="widget-author" class="widget">
    <h3 class="widget-title">Written by {{ author[0].name }}</h3>

    <div class="widget-body widget-author">
      {% if author[0].email %}
        <p>{{ author[0].email }}</p>
      {% endif %}

      {% if author[0].avatar %}
        <p><img class="avatar" src="{{ author[0].avatar }}" /></p>
      {% endif %}

      {% for mastodon in author[0].mastodon %}
        <span class="social-link"><a href="https://{{ mastodon.instance }}/@{{ mastodon.username }}"><img class="svg-icon-big" src="/assets/mastodon.svg" title="Mastodon: {{mastodon.username}} @ {{mastodon.instance}}"/></a></span>
      {% endfor %}

      {% for twitter in author[0].twitter %}
        <span class="social-link"><a href="https://twitter.com/@{{ twitter }}"><img class="svg-icon-big" src="/assets/twitter.svg" title="Twitter: {{ twitter }}"/></a></span>
      {% endfor %}

      {% for github in author[0].github %}
        <span class="social-link"><a href="https://github.com/{{ github }}"><img class="svg-icon-big" title="Github: {{ github }}" src="/assets/github.svg"/></a></span>
      {% endfor %}

      <p>Recent posts from {{ author[0].name }}:</p>

      <ul>
        {% assign recentPosts = site.posts | where: 'author', page.author %}
        {% for post in recentPosts limit: 3 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </aside>
{% else %}
  <aside id="widget-about" class="widget">
    <h3 class="widget-title">About SkullSecurity</h3>

    <div class="widget-body widget-about">
      <em>Just Another Security Weblog</em>

      <p>ron (at) skullsecurity.org</p>

    </div>
  </aside>
{% endif %}
