---
---
@import "skullsecurity.css";
@import "genericons/genericons.css";

div .site-nav {
  padding: 20px;
}

/** Wrapper */
// .wrapper { max-width: -webkit-calc(1200px - (30px * 2)); max-width: calc(1200px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }
// @media screen and (max-width: 1200px) { .wrapper { max-width: -webkit-calc(1200px - (30px)); max-width: calc(1200px - (30px)); padding-right: 15px; padding-left: 15px; } }

/** Clearfix */
// .wrapper:after, .footer-col-wrapper:after { content: ""; display: table; clear: both; }
/** Site footer */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.site-footer a {
  text-decoration: none;
}

.footer-heading { font-size: 18px; margin-bottom: 15px; }

.contact-list, .social-media-list { list-style: none; margin-left: 0; padding-top: 10px; }

.footer-col-wrapper { font-size: 15px; color: #828282; margin-left: -15px; }

.footer-col { float: left; margin-bottom: 15px; padding-left: 15px; }

.footer-col-1 { width: -webkit-calc(35% - (30px / 2)); width: calc(35% - (30px / 2)); }

.footer-col-2 { width: -webkit-calc(20% - (30px / 2)); width: calc(20% - (30px / 2)); }

.footer-col-3 { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) { .footer-col-1, .footer-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); }
  .footer-col-3 { width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) { .footer-col { float: none; width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }


.svg-icon { width: 16px; height: 16px; display: inline-block; fill: #828282; padding-right: 5px; vertical-align: text-top; }

.svg-icon-big { width: 32px; height: 32px; display: inline-block; fill: #828282; padding-right: 10px; vertical-align: text-top; }
.social-media-list a:hover { text-decoration: none; }
.social-media-list a:hover .username { text-decoration: underline; }
.social-media-list li + li { padding-top: 5px; }
.contact-list, .social-media-list { list-style: none; margin-left: 0; }

.social-header li {
  display: inline;
}
